#cloud-config
chpasswd: {expire: False}
ssh_pwauth: False
ssh_authorized_keys:
{% for pk in public_keys %}
  - {{ lookup('file', pk) }}
{% endfor %}

{% if sshd_port is defined %}

runcmd:
  - sed -i -e '/^\#Port/s/^.*$/Port {{sshd_port}}/' etc/ssh/sshd_config
  - sed -i -e '/^\#PermitRootLogin/s/^.*$/PermitRootLogin no/' /etc/ssh/sshd_config
  - semanage port -a -t ssh_port_t -p tcp {{sshd_port}}
  - systemctl restart sshd

{% endif %}

  
