[submodule "roles/proxify"]
	path = roles/proxify
	url = git://github.com/andrewrothstein/ansible-proxify.git
[submodule "roles/julia"]
	path = roles/julia
	url = git://github.com/andrewrothstein/ansible-julia
[submodule "roles/ansible"]
	path = roles/ansible
	url = git://github.com/andrewrothstein/ansible-ansible.git
[submodule "roles/apt-cacher-ng"]
	path = roles/apt-cacher-ng
	url = git://github.com/andrewrothstein/ansible-apt-cacher-ng.git
[submodule "roles/aquadatastudio"]
	path = roles/aquadatastudio
	url = git://github.com/andrewrothstein/ansible-aquadatastudio.git
[submodule "roles/atom"]
	path = roles/atom
	url = git://github.com/andrewrothstein/ansible-atom.git
[submodule "roles/bind"]
	path = roles/bind
	url = git://github.com/andrewrothstein/ansible-bind.git
[submodule "roles/blade-nfs"]
	path = roles/blade-nfs
	url = git://github.com/andrewrothstein/ansible-blade-nfs.git
[submodule "roles/browsers"]
	path = roles/browsers
	url = git://github.com/andrewrothstein/ansible-browsers.git
[submodule "roles/citrix"]
	path = roles/citrix
	url = git://github.com/andrewrothstein/ansible-citrix.git
[submodule "roles/compression"]
	path = roles/compression
	url = git://github.com/andrewrothstein/ansible-compression.git
[submodule "roles/confd"]
	path = roles/confd
	url = git://github.com/andrewrothstein/ansible-confd.git
[submodule "roles/consul"]
	path = roles/consul
	url = git://github.com/andrewrothstein/ansible-consul.git
[submodule "roles/corkscrew"]
	path = roles/corkscrew
	url = git://github.com/andrewrothstein/ansible-corkscrew.git
[submodule "roles/cpp-dev"]
	path = roles/cpp-dev
	url = git://github.com/andrewrothstein/ansible-cpp-dev.git
[submodule "roles/devstack-common"]
	path = roles/devstack-common
	url = git://github.com/andrewrothstein/ansible-devstack-common.git
[submodule "roles/docker"]
	path = roles/docker
	url = git://github.com/andrewrothstein/ansible-docker.git
[submodule "roles/docker-couchdb"]
	path = roles/docker-couchdb
	url = git://github.com/andrewrothstein/ansible-docker-couchdb.git
[submodule "roles/docker-http-replicator"]
	path = roles/docker-http-replicator
	url = git://github.com/andrewrothstein/ansible-docker-http-replicator.git
[submodule "roles/docker-machine"]
	path = roles/docker-machine
	url = git://github.com/andrewrothstein/ansible-docker-machine.git
[submodule "roles/docker-py"]
	path = roles/docker-py
	url = git://github.com/andrewrothstein/ansible-docker-py.git
[submodule "roles/docker-registry"]
	path = roles/docker-registry
	url = git://github.com/andrewrothstein/ansible-docker-registry.git
[submodule "roles/docker-squash"]
	path = roles/docker-squash
	url = git://github.com/andrewrothstein/ansible-docker-squash.git
[submodule "roles/docker-systemd-unit"]
	path = roles/docker-systemd-unit
	url = git://github.com/andrewrothstein/ansible-docker-systemd-unit.git
[submodule "roles/drill"]
	path = roles/drill
	url = git://github.com/andrewrothstein/ansible-drill.git
[submodule "roles/ec2-create-vm"]
	path = roles/ec2-create-vm
	url = git://github.com/andrewrothstein/ansible-ec2-create-vm.git
[submodule "roles/ec2-destroy-vm"]
	path = roles/ec2-destroy-vm
	url = git://github.com/andrewrothstein/ansible-ec2-destroy-vm.git
[submodule "roles/eclipse"]
	path = roles/eclipse
	url = git://github.com/andrewrothstein/ansible-eclipse.git
[submodule "roles/editors"]
	path = roles/editors
	url = git://github.com/andrewrothstein/ansible-editors.git
[submodule "roles/elrepo"]
	path = roles/elrepo
	url = git://github.com/andrewrothstein/ansible-elrepo.git
[submodule "roles/emacs"]
	path = roles/emacs
	url = git://github.com/andrewrothstein/ansible-emacs.git
[submodule "roles/epel"]
	path = roles/epel
	url = git://github.com/andrewrothstein/ansible-epel.git
[submodule "roles/etcd"]
	path = roles/etcd
	url = git://github.com/andrewrothstein/ansible-etcd.git
[submodule "roles/fail2ban"]
	path = roles/fail2ban
	url = git://github.com/andrewrothstein/ansible-fail2ban.git
[submodule "roles/filezilla"]
	path = roles/filezilla
	url = git://github.com/andrewrothstein/ansible-filezilla.git
[submodule "roles/flannel"]
	path = roles/flannel
	url = git://github.com/andrewrothstein/ansible-flannel.git
[submodule "roles/fleet"]
	path = roles/fleet
	url = git://github.com/andrewrothstein/ansible-fleet.git
[submodule "roles/flink"]
	path = roles/flink
	url = git://github.com/andrewrothstein/ansible-flink.git
[submodule "roles/fluentd"]
	path = roles/fluentd
	url = git://github.com/andrewrothstein/ansible-fluentd.git
[submodule "roles/fs"]
	path = roles/fs
	url = git://github.com/andrewrothstein/ansible-fs.git
[submodule "roles/github-release"]
	path = roles/github-release
	url = git://github.com/andrewrothstein/ansible-github-release.git
[submodule "roles/go"]
	path = roles/go
	url = git://github.com/andrewrothstein/ansible-go.git
[submodule "roles/hadoop"]
	path = roles/hadoop
	url = git://github.com/andrewrothstein/ansible-hadoop.git
[submodule "roles/haskell"]
	path = roles/haskell
	url = git://github.com/andrewrothstein/ansible-haskell.git
[submodule "roles/hbase"]
	path = roles/hbase
	url = git://github.com/andrewrothstein/ansible-hbase.git
[submodule "roles/hostnamefrominventory"]
	path = roles/hostnamefrominventory
	url = git://github.com/andrewrothstein/ansible-hostnamefrominventory.git
[submodule "roles/intellij"]
	path = roles/intellij
	url = git://github.com/andrewrothstein/ansible-intellij.git
[submodule "roles/java"]
	path = roles/java
	url = git://github.com/andrewrothstein/ansible-java.git
[submodule "roles/jq"]
	path = roles/jq
	url = git://github.com/andrewrothstein/ansible-jq.git
[submodule "roles/js-dev"]
	path = roles/js-dev
	url = git://github.com/andrewrothstein/ansible-js-dev.git
[submodule "roles/jython"]
	path = roles/jython
	url = git://github.com/andrewrothstein/ansible-jython.git
[submodule "roles/libvirt"]
	path = roles/libvirt
	url = git://github.com/andrewrothstein/ansible-libvirt.git
[submodule "roles/mesos-build"]
	path = roles/mesos-build
	url = git://github.com/andrewrothstein/ansible-mesos-build.git
[submodule "roles/mesos-dns"]
	path = roles/mesos-dns
	url = git://github.com/andrewrothstein/ansible-mesos-dns.git
[submodule "roles/mesos-servicerouter"]
	path = roles/mesos-servicerouter
	url = git://github.com/andrewrothstein/ansible-mesos-servicerouter.git
[submodule "roles/mosh"]
	path = roles/mosh
	url = git://github.com/andrewrothstein/ansible-mosh.git
[submodule "roles/nettools"]
	path = roles/nettools
	url = git://github.com/andrewrothstein/ansible-nettools.git
[submodule "roles/nfs"]
	path = roles/nfs
	url = git://github.com/andrewrothstein/ansible-nfs.git
[submodule "roles/nfs-client"]
	path = roles/nfs-client
	url = git://github.com/andrewrothstein/ansible-nfs-client.git
[submodule "roles/ntp"]
	path = roles/ntp
	url = git://github.com/andrewrothstein/ansible-ntp.git
[submodule "roles/pig"]
	path = roles/pig
	url = git://github.com/andrewrothstein/ansible-pig.git
[submodule "roles/puppet-common"]
	path = roles/puppet-common
	url = git://github.com/andrewrothstein/ansible-puppet-common.git
[submodule "roles/puppet-master"]
	path = roles/puppet-master
	url = git://github.com/andrewrothstein/ansible-puppet-master.git
[submodule "roles/puppet-slave"]
	path = roles/puppet-slave
	url = git://github.com/andrewrothstein/ansible-puppet-slave.git
[submodule "roles/python"]
	path = roles/python
	url = git://github.com/andrewrothstein/ansible-python.git
[submodule "roles/r"]
	path = roles/r
	url = git://github.com/andrewrothstein/ansible-r.git
[submodule "roles/rdp"]
	path = roles/rdp
	url = git://github.com/andrewrothstein/ansible-rdp.git
