[submodule "roles/proxify"]
	path = roles/proxify
	url = git://github.com/andrewrothstein/ansible-proxify.git
[submodule "roles/julia"]
	path = roles/julia
	url = git://github.com/andrewrothstein/ansible-julia
[submodule "roles/ansible"]
	path = roles/ansible
	url = git://github.com/andrewrothstein/ansible-ansible.git
[submodule "roles/apt-cacher-ng"]
	path = roles/apt-cacher-ng
	url = git://github.com/andrewrothstein/ansible-apt-cacher-ng.git
[submodule "roles/aquadatastudio"]
	path = roles/aquadatastudio
	url = git://github.com/andrewrothstein/ansible-aquadatastudio.git
[submodule "roles/atom"]
	path = roles/atom
	url = git://github.com/andrewrothstein/ansible-atom.git
[submodule "roles/bind"]
	path = roles/bind
	url = git://github.com/andrewrothstein/ansible-bind.git
[submodule "roles/blade-nfs"]
	path = roles/blade-nfs
	url = git://github.com/andrewrothstein/ansible-blade-nfs.git
